  .body{
    background: #D9C3AC;
  }
  .ctn{
    margin-top: 10%;
  }
  .form{
    padding: 5%;
  }
  .itens{
    padding: 5%;
  }
  .iten{
    display: flex;
    position: relative;
    margin-bottom: 3%;  
    margin-left: 8%;
}
.iten span{
  display: flex;
text-align: center;
margin-left:8%;
}
.button{
  float:right;

}
.button div{
  float:right;
  margin-left: 5px;

}
.btn{
  margin-left: 5%;
}
#topo{
  background-color: #7E564A;
  color: white;
}
#topo a{
color:#fdf909;
}
#topo a:hover{
  text-decoration: none;
  color: #ebebeb;
}
#footer{
  background-color: #7E564A;
  color: white;
}
#footer a{
  color:#fdf909;
}#footer a:hover{
  text-decoration: none;
  color: #ebebeb;
}
.label-radio{
  color:#7E564A ;

  margin-top: 5%;
}

#next{
  background-color: #7E564A;
  color: white;
}
#prev{
  background-color: #725046a2;
  color: white;
}
#submit{
  background-color: #248631;
  color: white;
}
hr{
  width: 25%;
  background-color:brown;
}
  a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }
  
  
  
  
  
  input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }
  
  input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important; }
  
  input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important; }
  
  .clear {
    clear: both; }
    
      
  input, select {
    box-sizing: border-box;
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 15px 25px;
    border: 1px solid #ebebeb;
    font-family: 'Poppins';
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }
    input:focus, select:focus {
      border: 1px solid #1ed760; }
    input::-webkit-input-placeholder, select::-webkit-input-placeholder {
      color: #999; }
    input::-moz-placeholder, select::-moz-placeholder {
      color: #999; }
    input:-ms-input-placeholder, select:-ms-input-placeholder {
      color: #999; }
    input:-moz-placeholder, select:-moz-placeholder {
      color: #999; }
  
  select > option {
    color: #999999; }
  
   .select-icon {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 20px;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center; }
    .select-icon i {
      align-items: center;
      -moz-align-items: center;
      -webkit-align-items: center;
      -o-align-items: center;
      -ms-align-items: center;
      justify-content: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -o-justify-content: center;
      -ms-justify-content: center;
      width: 70px;
      height: 40px;
      font-size: 30px;
      color: #999; }
  
  input, label, select {
    width: 100%;
    display: block; }
  
  fieldset {
    border: none;
    margin: 0px;
    padding: 0px; }
  
  fieldset.current {
    padding-top: 85px; }
  
  .form-radio {
    margin-top: -25px;
    width: 100%; }
    .form-radio input {
      width: 0;
      height: 0;
      position: absolute;
      left: -9999px; }
    .form-radio input + label {
      margin: 0px;
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      text-align: center;
      transition: border-color .15s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px; }
      .form-radio input + label figure {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        border: 2px solid #222;
        align-items: center;
        -moz-align-items: center;
        -webkit-align-items: center;
        -o-align-items: center;
        -ms-align-items: center;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center; }
        .form-radio input + label figure img {
          -webkit-filter: invert(30%) grayscale(100%) brightness(70%) contrast(4);
          filter: invert(30%) grayscale(100%) brightness(70%) contrast(4); }
      .form-radio input + label span {
        font-weight: bold; }
    .form-radio input:checked + label {
      z-index: 1; }
      .form-radio input:checked + label figure {
        border: 2px solid #1ed760; }
        .form-radio input:checked + label figure img {
          -webkit-filter: none;
          filter: none; }
      .form-radio input:checked + label span {
        color: #1ed760; }
    .form-radio input:focus + label {
      outline: none; }
    .form-radio input:hover {
      background-color: #1ed760;
      border-color: #1ed760; }
  
  .form-flex {
    justify-content: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    -o-justify-content: space-around;
    -ms-justify-content: space-around;
    padding: 0 140px; }
  .form-radio img{
    width: 99%;
  }
 
  
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  
  .inputfile + label {
    text-transform: uppercase; }
  
  .inputfile + label {
    max-width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-align: center; }
  
  .inputfile + label figure {
    width: 154px;
    height: 154px;
    border-radius: 50%;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    margin-bottom: 6px; }
  
  .inputfile + label figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
    .file-button{
      color: #7E564A;
    }
  .form-row {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
  
  .form-group-flex {
    width: 510px; }
  
  .form-group {
    padding-bottom: 20px;
    position: relative; }
  
  .form-input {
    width: 50%;
    padding: 0 10px;
    padding-bottom: 20px;
    position: relative; }
  
  .form-input-flex {
    margin: 0 -10px; }
  
  input.error {
    border: 1px solid #f63726;
    margin-bottom: 20px; }
  
  label.error {
    font-size: 12px;
    color: #f63726;
    position: absolute;
    bottom: 17px;
    left: 0; }
  
  .label-radio {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 70px; }
  



  @media screen and (max-width: 992px) {
    .container {
      width: calc(100% - 40px);
      max-width: 100%; }
  
    .form-group-flex {
      width: 310px; }
     
    

    }
  @media screen and (max-width: 768px) {
    .steps ul, .form-row {
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column; }
  
    .steps ul li {
      width: 100%; }
  
    .content {
      height: 550px;
      padding-right: 30px;
      padding-left: 30px; }
  
    .form-file {
      margin-bottom: 20px; }
  
    .form-flex {
      padding: 0 40px; }
  
    .form-input, .form-group-flex {
      width: 100%; } 
      .button{
        margin-right: 35%;      
        }
    }
  @media screen and (max-width: 480px) {
    .signup-form {
      padding-left: 30px;
      padding-right: 30px; }
      .iten{
        display: inline;
        position: relative; 
       }
           .iten label{
        padding:0% 25% 15% 30%;
       }
       .button{
      margin-right: 22%;      
      }
     
    
    }
    @media screen and (max-width: 380px) {
      .button{
        margin-right: 18%;      
        }
    }
    @media screen and (max-width: 340px) {
      .button{
        margin-right: 13%;      
        }
    }
  
  